.auth-head {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.form-group input {
    background: transparent;
    color: #c6d4df;
    border: 1px solid #ffffff;
}

.btn-auth {
    width: 100%;
    background: rgb(233, 44, 27);
    color: #ffffff;
}

.btn-auth:hover {
    border-color: #1b2838;
    outline: 0;
    -webkit-box-shadow: 0px 0px 7px 1px rgb(240 65 49 / 70%);
    -moz-box-shadow: 0px 0px 7px 1px rgba(240, 65, 49, 0.7);
    box-shadow: 0px 0px 7px 1px rgb(240 65 49 / 70%);
}

.part-left {
    height: 1px;
    background: linear-gradient(to left, rgb(58, 110, 139) -1%, rgb(58, 110, 139) 0%, rgb(233, 44, 27) 92%, rgb(89, 26, 27) 100%);
    margin: 20px 0;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}

.auth-link i {
    font-size: 3em;
    padding: 0 5px;
}

.auth-link:hover {
    color: rgb(233, 44, 27);
}

.btn-link {
    color: rgb(233, 44, 27);
    font-size: 14px;
}

.btn-link:hover {
    color: #ffffff;
}

.auth-size {
    max-width: 400px;
    margin: 0 auto;
}
